<h1>User List component </h1>
<div class="col-12">
    <div class="raised p-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td><span *ngFor="let role of user.roles">{{role.name}}, </span></td>
                    <td>{{user.active}}</td>
                    <td>
                        <a mat-raised-button color="accent" 
                        routerLink="/dashboard/users/add/edit/{{user.id}}">
                            <i class="fa fa-pencil-square-o"></i> Edit
                        </a> 
                        <a mat-raised-button color="warn" 
                            (click)="deleteUser(user.id)">
                            <i class="fa fa-pencil-square-o"></i> Delete
                        </a> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>