<h1>{{user?.name}}</h1>
<div class="row m-1">
    <div class="col-12 col-md-6 offset-md-3 p-0 pb-2 raised">
        <div class="default-primary-color text-primary-color text-center pt-2">
            <h2>Change Password</h2>
        </div>
        <form [formGroup]="userForm" (ngSubmit)="addUser()" novalidate>
            <div class="m-3">
                <mat-form-field class="col-12" >
                    <mat-icon matPrefix fontSet="fa" fontIcon="fa-user"></mat-icon>
                    <input matInput placeholder="Name" [(ngModel)]="user.name" formControlName="name" readonly>
                    <mat-error *ngIf="userForm.controls.name.invalid && userForm.controls.name.touched">Name Required</mat-error>
                </mat-form-field>
                <mat-form-field class="col-12" >
                    <mat-icon matPrefix fontSet="fa" fontIcon="fa-at"></mat-icon>
                    <input matInput placeholder="Email" [(ngModel)]="user.email" formControlName="email" readonly>
                    <mat-error *ngIf="userForm.controls.email.invalid && userForm.controls.email.touched">Email invalid</mat-error>
                </mat-form-field>
                <mat-form-field class="col-12" >
                    <mat-icon matPrefix fontSet="fa" fontIcon="fa-lock"></mat-icon>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <input matInput placeholder="password" [(ngModel)]="user.password" formControlName="password" [type]="hide ? 'password' : 'text'">
                    <mat-error *ngIf="userForm.controls.password.invalid && userForm.controls.password.touched">Password invalid</mat-error>
                </mat-form-field>
                

                
                <div class="row mx-3 d-flex justify-content-between">
                    <a mat-raised-button color="basic" routerLink="/dashboard/users/list"><i class="fa fa-times"></i>Cancel</a>
                    <button type="submit" mat-raised-button color="primary" disabled="{{userForm.invalid}}"><i class="fa fa-plus"></i>Save</button>
                </div>  
            </div>
        </form>
    </div>
</div>